.menu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu ul {

    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.menu li {
    float: left;
}
.menu li, .menu a {
    display: block;
    color: #FBFFFE;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.menu li:hover, .menu a:hover {
    background-color: #14181F;
}