@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
    --primary: #D33F49;
    --black: #04080F;
    --white: #FBFFFE;
    --neutral: #BABCC3;
    --blue: #1C77C3;
    --width-header: 600px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;;
    margin: 0;
}
.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: var(--width-header);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
    
}
.hero p{
    color: #BABCC3;
}
.hero button{
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    background: transparent;
    border: 2px solid #fff;
    color: var(--white);
    font-family: Ubuntu;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.hero button:hover{
    background-color: #fff;
    color:#000;
}
.hero h1{
    font-size: 40px;
    padding: 10px;
}
.hero p {
    font-size: 20px;
}
video{
    width: 100%; 
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
    object-fit: cover;
    height: var(--width-header);
}