@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #D33F49;
    --black: #04080F;
    --white: #FBFFFE;
    --neutral: #BABCC3;
}


@layer base {
  body {
    @apply bg-[#04080F];
  }
}
@layer components {
  .navItems {
    @apply text-[#FBFFFE] text-2xl ;
  }
  .navLinks {
    @apply px-4 py-2 hover:bg-black hover:text-[#D33F49]
  }
  .serviceCard {
    @apply bg-[#BABCC3] border-b-black p-10 text-center border-b-2 m-3
  }
  .blogCard {
    @apply bg-[#BABCC3] border-b-black p-10 text-center border-b-2 m-3
  }
}