@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.logo_nassim {
  width: auto;
  height: 100%;
  object-fit: scale-down;
}
.nav{
  position: fixed;
  width: 100%;
  height: 70px;
  display:flex;
  font-size: 24px;
  padding: 10px;
}
.fixedNav {
  position: fixed;
  width: 100%;
  height: 70px;
  display:flex;
  font-size: 24px;
  padding: 10px;
  background-color: brown;
}
.navItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display:flex;
}
.navItems li {
  height: 50px;
  float: left;
}
.navItems li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.navItems a:hover {
  background-color: #111;
}

.hero{
  width: 100%;
  height: 400px;
  display: flex;
}
.heroPhrase {
  width: 50%;
}
.heroPhrase h1 {
  margin-top: 100px;
}
.heroPhrase h1, .heroPhrase p, .heroPhrase button {
  margin-left: 30px;
}
.heroImage {
  width: 50%;
  height: 500px;
}
.hero img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
}

@media (max-width: 600px){
.navItems li{
  display:none;

}
}